@charset "utf-8";

/* diary */
.diary {
  margin: 64px auto;
}

.diary .container div {
  display: block;
}

.diary .container .btn {
  margin: 32px 0;
}

.box {
  border: 1px solid black;
  margin: 16px 0;
  padding: 16px;
}